//output: ../main.js
$(document).ready(function(){  
include global-variables.js                                  
include _forms/0-dir      
include _pages/0-dir                                                                              
include _items/0-dir                        
include _functions/0-dir                                                                                                      
});                                                              
                                                                   
        
                 
           
                   
                  
                      
            
              
      
   
  
