.overlay-wrap.new-event, .overlay-wrap.edit-event, .overlay-wrap.suggest-a-time
  .add-friends-wrap
    position: relative

    .search-friends-wrap
      position: absolute
      bottom: 80px
      background: $white
      overflow-y: auto

      width: 100%
      max-height: 0px
      border-radius: 6px


      &.show
        max-height: 200px
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29)

      .item
        @include flex(row, center, flex-start, nowrap)
        padding: 10px

        &:not(:last-child)
           border-bottom: solid 1px $lighterest-gray

        img
          margin-right: 15px
          border-radius: 80px
          object-fit: cover
          width: 45px
          height: 45px

  .friends-coming
    flex-wrap: wrap
    justify-content: flex-start

    .item
      @include flex(row, center, flex-start, nowrap)
      font-size: 12px
      color: $white
      background: $light-blue
      border-radius: 100px
      padding: 8px
      margin-right: 4px
      margin-bottom: 4px
      border: solid 2px $light-blue

      &.removed
        color: $light-blue
        background: $white

      &[data-accepted="1"]:not(.removed)
        background: $blue

      img
        width: 20px
        margin-right: 6px
        border-radius: 100px

  .hidden-checkboxes
    display: none
