/* RESET */
html, body, h1, h2, h3, h4, h5, h6, ul, li, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.ui-loader, .ui-corner-all {
  display: none;
}

li {
  list-style: none;
}

div, span, h1, h2, h3, h4, h5, h6, p, input, blockquote, li, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: bebas;
  src: url(_css/_fonts/_fonts/BebasNeue.otf);
}
@font-face {
  font-family: montserrat;
  src: url(_css/_fonts/_fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: montserrat-light;
  src: url(_css/_fonts/_fonts/Montserrat-Light.otf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(_css/_fonts/_fonts/Montserrat-Medium.otf);
}
@font-face {
  font-family: montserrat-semibold;
  src: url(_css/_fonts/_fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: montserrat-bold;
  src: url(_css/_fonts/_fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: austein;
  src: url(_css/_fonts/_fonts/Austein.otf);
}
@font-face {
  font-family: arialRound;
  src: url(_css/_fonts/_fonts/ARLRDBD.TTF);
}
body {
  font-family: montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-size: 12px;
}

.logo {
  font-family: austein, bebas, "europa", Arial, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  color: white;
  font-size: 70px;
}

h1 {
  font-family: montserrat-bold, montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-size: 60px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  font-family: montserrat-bold, montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-size: 34px;
}

h3 {
  font-family: montserrat-bold, montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-size: 22px;
}

h4 {
  font-family: arialRound, montserrat, "europa", Arial, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-style: normal;
  font-size: 22px;
  text-align: center;
}

h5 {
  font-family: montserrat-light, montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

body, p {
  font-size: 16px;
  font-family: montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
body a, p a {
  font-family: montserrat-medium, montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  margin-right: 2px;
}
body a:hover, p a:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.txt-center {
  width: 100%;
  text-align: center;
}

.txt-left {
  width: 100%;
  text-align: left;
}

.txt-right {
  width: 100%;
  text-align: right;
}

.txt-justify {
  width: 100%;
  text-align: justify;
}

.error-msg {
  color: red;
}

.caption {
  font-style: italic;
  font-family: montserrat-light, montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
.caption > * {
  margin-right: 7px;
}

.link {
  color: #f5ab58;
  font-size: 12px;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.all-content-wrap {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.all-content-wrap .main-content {
  width: 80vw;
  padding: 50px 0px;
}
.all-content-wrap .main-content .section {
  padding: 70px;
  background: white;
  border-radius: 12px;
}
.all-content-wrap .main-content .section:not(:last-child) {
  margin-bottom: 85px;
}
.all-content-wrap .main-content .section.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1550px) {
  .all-content .main-content {
    width: 90vw;
  }
}
#register-login .all-content-wrap {
  background: #34abf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 50px 0px;
  color: white;
  min-height: calc(100vh - 100px);
}
#register-login .all-content-wrap * {
  max-width: 85vw;
}
#register-login .all-content-wrap .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 85vw;
}
#register-login .all-content-wrap .content-wrap.register {
  justify-content: flex-start;
}
#register-login .logo {
  margin-bottom: 20px;
}
#register-login h3, #register-login p {
  text-align: left;
  margin-bottom: 20px;
  width: 85vw;
}
#register-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 85vw;
  margin-bottom: 30px;
}
#register-login form input:not(.submit), #register-login form label {
  margin-bottom: 15px;
  width: 100%;
}
#register-login form input.submit {
  margin-right: 15px;
}
#register-login form .bottom-buttons-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
#register-login form .bottom-buttons-wrap > * {
  flex: 1;
}
#register-login a:not(.button) {
  color: white;
}

input {
  outline: none;
}
input[type=submit] {
  border: none;
  font-family: montserrat-medium, montserrat, "europa", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
input[type=text], input[type=password], input[type=email] {
  outline: none;
  border: solid 1px #bebebe;
  font-size: 20px;
  padding: 20px;
  border-radius: 8px;
}

.button {
  transition: all 200ms ease-in-out;
  padding: 20px 25px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.button.green {
  background: #4efacd;
}
.button.clear {
  background: none;
}

.calendar-wrap {
  position: relative;
  height: calc(100vh - 120px);
  margin-top: 60px;
  overflow-y: auto;
}
.calendar-wrap .date-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background: white;
  height: 40px;
  padding: 0px 30px;
  color: gainsboro;
  border-radius: 10px 10px 0px 0px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.calendar-wrap .time-slot-wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 94vw;
  border-bottom: solid 1px gainsboro;
}
.calendar-wrap .time-slot-wrap .time-text {
  color: gainsboro;
  padding: 20px 0px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
}
.calendar-wrap .time-slot-wrap .time-slot {
  width: 100%;
}

.blocks-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  height: 1344px;
  overflow-x: auto;
  margin-left: 80px;
}
.blocks-wrap .block-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 150px;
  margin-right: 30px;
}
.blocks-wrap .block {
  position: absolute;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  min-width: 150px;
  width: 150px;
  border-radius: 6px;
}
.blocks-wrap .block.free {
  background: #4efacd;
}
.blocks-wrap .block.blocked {
  background: #ff7f73;
}
.blocks-wrap .block .times {
  font-size: 10px;
  margin-bottom: 20px;
}

img.icon {
  height: 35px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100vw;
  background: #34abf4;
  padding: 15px 20px;
  position: fixed;
  top: 0;
}
.top-bar svg, .top-bar img {
  height: 30px;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100vw;
  background: #34abf4;
  padding: 15px 20px;
  position: fixed;
  bottom: 0;
}
.bottom-bar svg, .bottom-bar img {
  height: 30px;
}

.user-menu-wrap {
  bottom: 60px;
  right: 0px;
  width: 50vw;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 50vw;
  background: white;
  max-height: 0px;
  overflow: hidden;
  z-index: 999;
}
.menu.open {
  max-height: 80vh;
  overflow-y: auto;
  border: solid 2px #34abf4;
}
.menu.bottom {
  border-radius: 6px 6px 0px 0px;
}
.menu.bottom.right-side {
  border-width: 2px 0px 0px 2px;
  right: 0px;
}
.menu.bottom.left-side {
  border-width: 2px 2px 0px 0px;
}
.menu.top {
  border-radius: 0px 0px 6px 6px;
  top: 60px;
}
.menu.top.right-side {
  border-width: 0px 2px 0px 2px;
  right: 0px;
}
.menu.top.left-side {
  border-width: 2px 2px 0px 0px;
}
.menu .menu-wrap-header {
  background-color: #34abf4;
  padding: 8px;
  padding-left: 15px;
  width: 100%;
  color: white;
}
.menu a {
  width: 100%;
}
.menu .item {
  padding: 20px;
  width: 100%;
}
.menu .item:not(:last-child) {
  border-bottom: solid 1px #bebebe;
}

.friends-menu-wrap {
  bottom: 60px;
  left: 0px;
  font-size: 14px;
}
.friends-menu-wrap a.add-friend-button {
  color: white;
}
.friends-menu-wrap a.add-friend-button:hover {
  text-decoration: none;
}
.friends-menu-wrap .add-friend-button {
  background-color: #5fbdf6;
}
.friends-menu-wrap .friends-list-wrap {
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
}
.friends-menu-wrap .friends-list-wrap .item-wrap {
  padding: 10px;
  color: #474747;
  text-decoration: none;
}
.friends-menu-wrap .friends-list-wrap .item-wrap:not(:last-child) {
  border-bottom: solid 1px gainsboro;
}
.friends-menu-wrap .friends-list-wrap .item-wrap a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.friends-menu-wrap .friends-list-wrap .item-wrap img {
  margin-right: 15px;
}

.overlay-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  transition: all 200ms ease-in-out;
  opacity: 0;
  height: 100vh;
  max-height: 0;
  width: 100vw;
  max-width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  z-index: 9999;
  overflow: hidden;
}
.overlay-wrap.show {
  opacity: 1;
  max-height: 100vh;
}
.overlay-wrap .content-wrap, .overlay-wrap .set-block-wrap, .overlay-wrap .edit-block-wrap {
  padding: 20px;
  background: white;
  border-radius: 10px;
  width: 90%;
  color: #474747;
  font-size: 14px;
}
.overlay-wrap .content-wrap > *:not(:last-child), .overlay-wrap .set-block-wrap > *:not(:last-child), .overlay-wrap .edit-block-wrap > *:not(:last-child) {
  margin-bottom: 10px;
}
.overlay-wrap .content-wrap .single-label, .overlay-wrap .set-block-wrap .single-label, .overlay-wrap .edit-block-wrap .single-label {
  width: 100%;
  text-align: center;
}
.overlay-wrap .content-wrap .row, .overlay-wrap .set-block-wrap .row, .overlay-wrap .edit-block-wrap .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
.overlay-wrap .content-wrap .row:not(:last-of-type), .overlay-wrap .set-block-wrap .row:not(:last-of-type), .overlay-wrap .edit-block-wrap .row:not(:last-of-type) {
  margin-bottom: 15px;
}
.overlay-wrap .content-wrap .close-popup, .overlay-wrap .set-block-wrap .close-popup, .overlay-wrap .edit-block-wrap .close-popup {
  width: 100%;
  text-align: center;
}
.overlay-wrap .content-wrap .button, .overlay-wrap .set-block-wrap .button, .overlay-wrap .edit-block-wrap .button {
  color: white;
  flex: 1;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
}
.overlay-wrap .content-wrap .button:first-child, .overlay-wrap .set-block-wrap .button:first-child, .overlay-wrap .edit-block-wrap .button:first-child {
  margin-right: 5px;
}
.overlay-wrap .content-wrap .button:not(.active), .overlay-wrap .set-block-wrap .button:not(.active), .overlay-wrap .edit-block-wrap .button:not(.active) {
  background: gainsboro;
}
.overlay-wrap .content-wrap .button.free.active, .overlay-wrap .set-block-wrap .button.free.active, .overlay-wrap .edit-block-wrap .button.free.active {
  background: #4efacd;
}
.overlay-wrap .content-wrap .button.blocked.active, .overlay-wrap .set-block-wrap .button.blocked.active, .overlay-wrap .edit-block-wrap .button.blocked.active {
  background: #ff7f73;
}
.overlay-wrap .content-wrap .button.submit, .overlay-wrap .set-block-wrap .button.submit, .overlay-wrap .edit-block-wrap .button.submit {
  background: #34abf4;
}
.overlay-wrap .content-wrap input:not([type=text]), .overlay-wrap .set-block-wrap input:not([type=text]), .overlay-wrap .edit-block-wrap input:not([type=text]) {
  border: none;
}
.overlay-wrap .content-wrap input.search, .overlay-wrap .set-block-wrap input.search, .overlay-wrap .edit-block-wrap input.search {
  background-image: url("_pics/_icons/search.svg");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center left;
  width: 100%;
  padding-left: 50px;
}

.menu.menu.notifications-menu-wrap .item {
  font-size: 12px;
  padding: 0px;
  color: #474747;
}
.menu.menu.notifications-menu-wrap .item[data-seen="0"] {
  background-color: #5fbdf6;
  color: white;
}
.menu.menu.notifications-menu-wrap .item .content-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
}
.menu.menu.notifications-menu-wrap .item .content-wrap img {
  margin-right: 15px;
}
.menu.menu.notifications-menu-wrap .item .accept-reject-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.menu.menu.notifications-menu-wrap .item .accept-reject-row > .button {
  flex: 1;
  font-size: 12px;
  padding: 6px;
}
.menu.menu.notifications-menu-wrap .item .accept-reject-row .button {
  border-radius: 0px;
}
.menu.menu.notifications-menu-wrap .item .accept-reject-row .button.accept {
  background-color: #4efacd;
}
.menu.menu.notifications-menu-wrap .item .accept-reject-row .button.reject {
  background-color: #ff7f73;
}

.add-friend-popup .row.friend-results {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-height: 200px;
  overflow-y: auto;
}
.add-friend-popup .row.friend-results .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 8px;
}
.add-friend-popup .row.friend-results .item.selected {
  background: #34abf4;
  color: white;
}
.add-friend-popup .row.friend-results .item .icon {
  margin-right: 20px;
}

/*# sourceMappingURL=main.css.map */
