input
  outline: none

  &[type="submit"]
    border: none
    font-family: $mont-medium

  &[type="text"], &[type="password"], &[type="email"]
    outline: none
    border: solid 1px $lighter-gray
    font-size: 20px
    padding: 20px
    border-radius: 8px
