.all-content-wrap.home
  .block
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px
  .user-image-wrap
    @include flex(row, center, center, nowrap)
    width: 150px
    padding: 15px 0px
    background: $white
    border-radius: 0px 0px 5px 5px

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px

    img
      border-radius: 80px
      object-fit: cover
      width: 45px
      height: 45px
